/.vscode
/Scripts
/get-pip.py
/gui_file
/test.py
/.gitignore
/__pycache__
/課題様にpythonguiについてまとめ.txt
/Qt/PyQt5
/Qt/PySide/text
/Qt/PySide/t.py
/Qt/PySide/text.txt

/Kivy/ki_py
/Kivy/Kivy_practice-master
/Kivy/kivycrashcourse-master
/Kivy/kvfあり
/Kivy/text
/Kivy/公式
/Kivy/test

/tkinter/test
/tkinter/ttktest.py

/PySimpleGUI/test
/PySimpleGUI/simple.py
/その他
abc
